.env
.vscode
venv
__pycache__
database/
dbt/logs/
exports/
logs/
dbt/splitwise_duckdb/seeds/seed_ganhos.csv
dbt/splitwise_duckdb/seeds/seed_gastos_futuros.csv
dbt/splitwise_duckdb/seeds/seed_presentes.csv
dbt/splitwise_duckdb/seeds/seed_limites.csv